version: '3'
services:

  app:
    build: .
    container_name: sql_reports
    environment:
      MYSQL_URL: jdbc:mysql://db:3306/world
      MYSQL_DATABASE: world
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - custom_network

  db:
    build: db/.
    container_name: world_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: world
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    networks:
      - custom_network

networks:
  custom_network:
    driver: bridge
