version: '3'
services:

  app:
    build: .
    container_name: sql_reports
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - custom_network

  db:
    build: db/.
    container_name: world_db
    ports:
      - "3307:3306"
    networks:
      - custom_network

networks:
  custom_network:
    driver: bridge

