name: workflow for develop branch

on:
  push:
    branches:
      - develop

jobs:

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Run Unit Tests
        run: mvn clean test -Dspring.profiles.active=test

  integration-tests:
    name: Integration Tests with MySQL
    runs-on: ubuntu-20.04
    needs: unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Start db service with Docker Compose
        run: docker compose up -d db

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Run Integration Tests
        run: mvn clean verify -Dspring.profiles.active=integration

  build:
    name: Build Run in Docker and Deploy Release
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Run docker compose
        run: docker compose up -d
      


