name: A workflow for my sql reports App
on: push

jobs:

    UnitTests:
      name: Unit Tests
      runs-on: ubuntu-20.04
  
      steps:
        - name: Checkout code
          uses: actions/checkout@v2
  
        - name: Set up JDK 17
          uses: actions/setup-java@v2
          with:
            java-version: '17'
            distribution: 'adopt'
            
        - name: Install Docker Compose
          run: |
              sudo apt-get update
              sudo apt-get install -y docker-compose
              
        - name: Start Docker Service
          run: |
              sudo service docker start
        
        - name: Start Database Service
          run: docker-compose up -d db
  
        - name: Wait for Database to be Ready
          run: |
            until docker exec world_db mysqladmin ping -h "localhost" --silent; do
              echo "Waiting for database connection..."
              sleep 100
            done
  
        - name: Run Unit Tests
          env:
            SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/testdb
            SPRING_DATASOURCE_USERNAME: user
            SPRING_DATASOURCE_PASSWORD: password
          run: mvn test
  
    build:
      name: Build and Run with Docker Compose
      runs-on: ubuntu-20.04
      needs: UnitTests
  
      steps:
        - name: Checkout code
          uses: actions/checkout@v2
  
        - name: Set up JDK 17
          uses: actions/setup-java@v2
          with:
            java-version: '17'
            distribution: 'adopt'
  
        - name: Run Docker Compose
          run: docker-compose up -d
