name: A workflow for my SQL reports App
on: push

jobs:
  
    UnitTests:
      name: Unit Tests
      runs-on: ubuntu-20.04
  
      steps:
        - name: Checkout code
          uses: actions/checkout@v2
  
        - name: Set up JDK 17
          uses: actions/setup-java@v2
          with:
            java-version: '17'
            distribution: 'adopt'
            
        - name: Start Docker Compose Services
          run: docker compose up -d db  

        - name: Run Unit Tests
          env:
            SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/world
            SPRING_DATASOURCE_USERNAME: user
            SPRING_DATASOURCE_PASSWORD: password
            SPRING_DATASOURCE_DRIVER-CLASS-NAME: com.mysql.cj.jdbc.Driver
          run: mvn test
  
    build:
      name: Build and Run with Docker Compose
      runs-on: ubuntu-20.04
      needs: UnitTests
  
      steps:
        - name: Checkout code
          uses: actions/checkout@v2
  
        - name: Set up JDK 17
          uses: actions/setup-java@v2
          with:
            java-version: '17'
            distribution: 'adopt'
  
        - name: Run Docker Compose
          run: docker compose up -d
