name: workflow for master branch

on:
  push:
    branches:
      - master
jobs:

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Run Unit Tests
        env:
          SPRING_PROFILES_ACTIVE: test
        run: mvn clean test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  integration-tests:
    name: Integration Tests with MySQL
    runs-on: ubuntu-20.04
    needs: unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Start db service with Docker Compose
        run: docker compose up -d db

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Run Integration Tests
        env:
          SPRING_PROFILES_ACTIVE: integration
        run: mvn clean verify

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build-and-deploy:
    name: Build with Docker compose and deploy to Azure CR
    runs-on: ubuntu-latest
    needs: [ unit-tests, integration-tests ]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: oleksiicr.azurecr.io  
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build and Push Images
      run: |
        docker compose -f docker-compose.yml build
        docker compose -f docker-compose.yml push
