name: Workflow for deployment

on:
  push:
    branches:
      - workflow-update
  workflow_dispatch:

jobs:
  BuildAndPushDockerImages:
    name: Build and Push Docker Images to ACR
    runs-on: ubuntu-20.04
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CD51EE9EFDC242EF8AA601E8235B3A36 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F3F8E7D5943A47DE8892A03983CD0394 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_C65B075CAA1140F3B5660ADC139A0572 }}
          auth-type: oidc
          
      - name: Log in to Azure Container Registry
        run: az acr login --name ${{ secrets.AZURE_REGISTRY_NAME }}

      - name: Update Docker Compose for ACR
        run: |
          # Replace image names with ACR references in docker-compose.yml
          sed -i 's|sql_reports|${{ secrets.AZURE_REGISTRY_NAME }}.azurecr.io/sql_reports:latest|g' docker-compose.yml
          sed -i 's|world_db|${{ secrets.AZURE_REGISTRY_NAME }}.azurecr.io/world_db:latest|g' docker-compose.yml

      - name: Build and Tag Docker Images with Docker Compose
        run: docker-compose -f docker-compose.yml build

      - name: Push Docker Images to ACR
        run: docker-compose -f docker-compose.yml push

  DeployToAzure:
    name: Deploy to Azure Web App
    runs-on: ubuntu-20.04
    needs: BuildAndPushDockerImages
    environment:
      name: 'Production'
    permissions:
      id-token: write
      contents: read


    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CD51EE9EFDC242EF8AA601E8235B3A36 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F3F8E7D5943A47DE8892A03983CD0394 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_C65B075CAA1140F3B5660ADC139A0572 }}
          auth-type: oidc
          
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'population-reports'
          images: |
            ${{ secrets.AZURE_REGISTRY_NAME }}.azurecr.io/sql_reports:latest
            ${{ secrets.AZURE_REGISTRY_NAME }}.azurecr.io/world_db:latest

          
