name: Workflow for Population reports application

on:
  push:
    branches:
      - develop
      - main
      - feature/deploy-fix
jobs:

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Run Unit Tests
        env:
          SPRING_PROFILES_ACTIVE: test
        run: mvn test

  integration-tests:
    name: Integration Tests with MySQL
    runs-on: ubuntu-20.04
    needs: unit-tests

    services:
      db:
        image: mysql:8.3
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
          MYSQL_DATABASE: world
          MYSQL_USER: user
          MYSQL_PASSWORD: password
        ports:
          - 3306:3306

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Wait for Database
        run: sleep 30

      - name: Run Integration Tests
        env:
          SPRING_PROFILES_ACTIVE: integration
        run: mvn test verify

  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    needs: integration-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: oleksiicr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and Push Images
        run: |
          docker compose -f docker-compose.yml build
          docker compose -f docker-compose.yml push

